/* Base e reset */

* , *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    align-items: start;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

/* Resets genéricos */

li {
    list-style: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited,
a:hover,
a:active,
a:focus {
    color: inherit;
}

button {
    background-color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

input,
textarea,
select,
option {
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: inherit;
}

textarea {
    resize: none;
}

label {
    display: block;
}

/* Tags genéricas */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

/* Containers principais */

main {
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
}

.main-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 2rem 0;
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
}

/* Elementos do main */

main header h1 {
    color: rgba(70, 70, 250, 1);
    font-size: 4rem;
}

.subtitle-styling {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    margin-bottom: 5%;
    width: 100%;
}

.subtitle-styling h3 {
    margin-left: 4rem;
    color: rgba(70, 70, 250, 1);
    background-image: linear-gradient(to right, #FFFFFF, #FFD43B, #FFFFFF);
    font-size: 3.5rem;
}

.manipulate-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 20rem;
}

.search-articles {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 0 1rem 14rem;
    position: relative;
    width: 32rem;
}

#search-form {
    margin-left: 5rem;
    position: absolute;
}

#search-form input,
#search-form select {
    border-bottom: 0.15rem solid #A0A0A0;
    border-radius: 1rem;
    padding: 0 1rem;
    background-color: rgba(230, 230, 230, 1);
    color: rgba(100, 100, 100, 1);
}

.hide-search {
    width: 100%;
    transition: all 0.2s ease;
    z-index: 9999;
    background-color: #FFFFFF;
}

#search-button {
    border: none;
    border-radius: 0.5rem;
    height: 4rem;
    width: 4rem;
    transition: all 0.2s ease;
}

#search-button:hover {
    cursor: pointer;
    background-color: #FFD43B;
}

.search-icon {
    height: 3rem;
    width: 3rem;
}

#search-button:hover .search-icon path {
    fill: #FFFFFF;
}

/* Botões de ação */

#add-button {   
    color: rgba(70, 70, 250, 1);
    transition: all 0.2s ease;
}

#add-button:hover {
    background-color: rgba(70, 70, 250, 1);
    color: rgba(255, 255, 255, 1);
}

#add-button:hover .add-icon path,
#remove-button:hover .remove-icon path {
    fill: #FFFFFF;
}

#remove-button {
    color: rgba(70, 70, 250, 1);
    transition: all 0.2s ease;
}

#remove-button:hover {
    background-color: rgba(70, 70, 250, 1);
    color: rgba(255, 255, 255, 1)
}

.add-icon, .remove-icon {
    height: 2.5rem;
    width: 2.5rem;
}

main header button path {
    transition: all 0.2s ease;
}

/* Overlays e pop-ups */

#add-popup-overlay {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.add-popup {
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: start;
    width: 20%;
    background-color: rgba(180, 180, 180, 1);
    overflow: hidden;
}

/* Botão de cancelar */

#cancel-button {
    align-items: center;
    border: none;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin: 0.5rem 0.5rem 0 auto;
    width: 2rem;
    cursor: pointer;
}

.cancel-button:hover {
    transform: scale(0.95);
}

.cancel-icon {
    height: auto;
    width: auto;
}

/* Seção de lista de artigos */

.articles-list-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
}

.articles-section-header {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.articles-section-header h2 {
    font-size: 3.5rem;
    margin: 4rem;
    color: rgba(70, 70, 250, .9);
}

.articles-section-header button {
    align-items: center;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 7rem;
    padding: 1rem;
    width: 8rem;
    cursor: pointer;
}

#articles-list {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 4em;
}

#articles-list li {
    align-items: center;
    border-top: 0.5rem solid rgba(40, 40, 220, 1);
    border-bottom: 0.5rem solid rgba(40, 40, 220, 1);
    border-radius: 1.5rem;
    box-shadow: 1rem 0 2rem rgba(140, 140, 140, 1),
    -1rem 0 2rem rgba(140, 140, 140, 1);
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
    width: 28rem;
    background-color: rgba(70, 70, 250, .9);
    position: relative;
}

.article-id {
    border-radius: 1rem;
    width: 5rem;
    background-color: #FFD43B;
}

#articles-list li a {
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    transition: all 0.2s ease;
}

#articles-list li a h4 {
    font-size: 2rem;
    font-weight: 700;
    word-break: break-all;
}

#articles-list li p {
    font-weight: 500;
    color: rgba(0, 0, 0, .9);
}

.remove-button {
    border: none;
    height: 3rem;
    position: absolute;
    right: 1.5rem;
    top: 1.3rem;
    width: 3rem;
    cursor: pointer;
    background-color: transparent;
}

.remove-button svg {
    transition: all 0.8s ease;
}

.remove-button path {
    transition: all 0.8s ease;
}

#articles-list li a:hover {
    color: #000000;
}

/* Estilos específicos do pop-up */

.add-popup form button {
    height: 3rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.add-popup form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.add-popup form input,
.add-popup form textarea {
    margin-bottom: 1rem;
    width: 23.5rem;
}

.remove-popup form input {
    width: 8rem;
}

.add-inputs-div {
    margin: auto;
}

.remove-input-div {
    margin: auto;
}

.add-popup div input,
.add-popup div textarea {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

.paperclip-icon {
    margin: 0 auto 0.5rem auto;
    width: 3.5rem;
}

.paperclip-icon:hover {
    transform-origin: center;
    animation: paperclip-rotation 1s ease;
}

.signature {
    margin-bottom: 0.2rem;
    font-weight: 200;
}

.signature a {
    color: rgba(70, 70, 250, .9);
    text-decoration: underline;
    transition: all 0.1s ease;
}

.signature a:hover {
    color: rgba(30, 30, 210, .9);
}

.article-content {
    display: flex;
    flex-direction: row;
    text-align: center;
}

@keyframes paperclip-rotation {
    0% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(-10deg);
    }
}
