/* Classes de layout */

/* Seções principais */

.pg__main {
    display: grid;
    grid-template-columns: 7rem 1fr;
    width: 100%;
}

.pg__aside {
    background-image: linear-gradient(to bottom, var(--primary-white), var(--secondary-grey));
    height: 100%;
    position: fixed;
    width: 7rem;
    z-index: 2;
}

.pg__add-menu {
    box-shadow: 0 2rem 4rem var(--shadow-neutral), 
    inset 0 0.3rem 0.6rem var(--shadow-neutral);
    flex-direction: column;
    height: 35%;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    width: 50%;
    z-index: 2;
}

.pg__home {
    flex-direction: row;
    gap: 12rem;
    max-width: 100%;
    width: 100%;
}

.pg__articles {
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    justify-content: start;
    padding: 6rem 5rem 3rem 5rem; 
    width: 100%;
}

.pg__social {
    
}

/* Seção: add menu */

.add-menu__btn {
    color: var(--primary-white);
    cursor: pointer;
    height: 3rem;
}

.add-menu__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.add-menu__input,
.add-menu__input-content {
    margin-bottom: 1rem;
    width: 23.5rem;
}

.add-menu__hide-btn {
    border: none;
    cursor: pointer;
    height: auto;
    margin: 0.5rem 0.5rem 0 auto;
    width: 2.5rem;
}

.add-menu__hide-btn:hover {
    transform: scale(0.95);
}

.add-menu__hide-icon {
    height: auto;
    width: auto;
}

/* Seção: home */

.home__text {
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1.5rem var(--shadow-neutral);
    display: flex;
    flex: 0 1 auto;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 4rem;
    max-width: 100%;
}

.home__title {
    margin-bottom: 1rem;
}

.home__subtitle {
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 2.24rem;
}

.home__img {
    flex: 0 1 auto;
    height: auto;
    max-width: 100%;
    padding: 2rem;
    width: 50rem;
}

/* Seção: articles */

.articles__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0 auto 0;
}

.articles__title {    
    color: var(--accent-blue);
    font-size: 4.5rem;
}

.articles__btns {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.articles__add-btn,
.articles__filter-btn {
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    color: var(--accent-blue);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    height: auto;
    padding: 1rem;
    width: 9rem;
}

.articles__add-btn:hover,
.articles__filter-btn:hover {
    background-color: var(--accent-blue);
    color: var(--primary-white);
}

.articles__add-btn:hover .articles__add-path,
.articles__filter-btn:hover .articles__filter-path {
    fill: var(--primary-white);
}

.articles__add-icon,
.articles__filter-icon {
    height: auto;
    filter: drop-shadow(0.3rem 0.3rem 1rem rgba(64, 64, 240, 0.25));
    width: 2.5rem;
}

.articles__add-title,
.articles__filter-title {
    font-size: 1.6rem;
}

.articles__mini-grid {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 4rem;
}

.signature {
    margin-bottom: 0.2rem;
    font-weight: 200;
}

.signature__link {
    color: #4040F0;
    text-decoration: underline;
}

.signature__link:hover {
    color: var(--accent-blue);
}
