<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='utilities.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

    <title>Blog Pessoal</title>
</head>
<body>
    <noscript>O Javascript está desativado ou não é suportado no seu navegador. Para melhor experiência, por favor, ative-o</noscript>

    <main class="pg__main">
        <aside class="pg__aside">
            <nav class="aside__nav">
                <div class="aside__item">
                    <a class="aside__link u-flex-center u-transition-02s-ease"
                    href="#home">
                        <svg class="aside__icon" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 640 640">
                            <path d="M341.8 72.6C329.5 61.2 310.5 61.2 298.3 72.6L74.3 280.6C64.7 289.6 61.5 303.5 66.3 315.7C71.1 327.9 82.8 336 96 336L112 336L112 512C112 547.3 140.7 576 176 576L464 576C499.3 576 528 547.3 528 512L528 336L544 336C557.2 336 569 327.9 573.8 315.7C578.6 303.5 575.4 289.5 565.8 280.6L341.8 72.6zM304 384L336 384C362.5 384 384 405.5 384 432L384 528L256 528L256 432C256 405.5 277.5 384 304 384z"/>
                        </svg>
                    </a>
                    
                    <span class="aside__popup u-secondary-grey-bg u-flex-center">Início</span>
                </div>

                <div class="aside__item">
                    <a class="aside__link u-flex-center u-transition-02s-ease"
                    href="#articles">
                        <svg class="aside__icon" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 640 640">
                            <path d="M32 176C32 134.5 63.6 100.4 104 96.4L104 96L384 96C437 96 480 139 480 192L480 368L304 368C264.2 368 232 400.2 232 440L232 500C232 524.3 212.3 544 188 544C163.7 544 144 524.3 144 500L144 272L80 272C53.5 272 32 250.5 32 224L32 176zM268.8 544C275.9 530.9 280 515.9 280 500L280 440C280 426.7 290.7 416 304 416L552 416C565.3 416 576 426.7 576 440L576 464C576 508.2 540.2 544 496 544L268.8 544zM112 144C94.3 144 80 158.3 80 176L80 224L144 224L144 176C144 158.3 129.7 144 112 144z"/>
                        </svg>
                    </a>

                    <span class="aside__popup u-secondary-grey-bg u-flex-center">Artigos</span>
                </div>

                <div class="aside__item">
                    <a class="aside__link u-flex-center u-transition-02s-ease"
                    href="#social">
                        <svg class="aside__icon" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 640 640">
                            <path d="M96 192C96 130.1 146.1 80 208 80C269.9 80 320 130.1 320 192C320 253.9 269.9 304 208 304C146.1 304 96 253.9 96 192zM32 528C32 430.8 110.8 352 208 352C305.2 352 384 430.8 384 528L384 534C384 557.2 365.2 576 342 576L74 576C50.8 576 32 557.2 32 534L32 528zM464 128C517 128 560 171 560 224C560 277 517 320 464 320C411 320 368 277 368 224C368 171 411 128 464 128zM464 368C543.5 368 608 432.5 608 512L608 534.4C608 557.4 589.4 576 566.4 576L421.6 576C428.2 563.5 432 549.2 432 534L432 528C432 476.5 414.6 429.1 385.5 391.3C408.1 376.6 435.1 368 464 368z"/>
                        </svg>
                    </a>

                    <span class="aside__popup u-secondary-grey-bg u-flex-center">Social</span>
                </div>
            </nav>
        </aside>

        <div class="aside__fill"></div>

        <div class="no-aside">
            <section id="home"
            class="pg__home c-section u-main-bg-1 u-flex-center u-transition-02s-ease">
                <div id="add-menu-overlay"
                class="add-menu__overlay"></div>

                <div id="add-menu"
                class="pg__add-menu">

                    <div class="add-menu__header">
                        <div class="add-menu__header-left">
                            <div class="add-menu__header-icon u-flex-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                </svg>
                            </div>

                            <div>
                                <h3 class="add-menu__title">Novo Artigo</h3>
                                <p class="add-menu__subtitle">Preencha os campos abaixo para publicar</p>
                            </div>
                        </div>

                        <button id="add-menu-hide-btn"
                        class="add-menu__hide-btn u-flex-center"
                        aria-label="Fechar menu">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path d="M342.6 105.4C330.1 92.9 309.8 92.9 297.3 105.4L137.3 265.4C124.8 277.9 124.8 298.2 137.3 310.7C149.8 323.2 170.1 323.2 182.6 310.7L320 173.3L457.4 310.6C469.9 323.1 490.2 323.1 502.7 310.6C515.2 298.1 515.2 277.8 502.7 265.3L342.7 105.3zM502.6 457.4L342.6 297.4C330.1 284.9 309.8 284.9 297.3 297.4L137.3 457.4C124.8 469.9 124.8 490.2 137.3 502.7C149.8 515.2 170.1 515.2 182.6 502.7L320 365.3L457.4 502.6C469.9 515.1 490.2 515.1 502.7 502.6C515.2 490.1 515.2 469.8 502.7 457.3z"/>
                            </svg>
                        </button>
                    </div>

                    <div class="add-menu__divider"></div>

                    <form id="add-form"
                    class="add-menu__form" novalidate>

                        <div class="add-menu__field">
                            <label class="add-menu__label"
                            for="add-input-title">
                                <svg class="add-menu__label-icon"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 640">
                                    <path d="M64 128C46.3 128 32 142.3 32 160L32 192C32 209.7 46.3 224 64 224L160 224L160 480C160 497.7 174.3 512 192 512L256 512C273.7 512 288 497.7 288 480L288 224L384 224L384 480C384 497.7 398.3 512 416 512C433.7 512 448 497.7 448 480L448 128L64 128zM576 128L480 128L480 224L576 224C593.7 224 608 209.7 608 192L608 160C608 142.3 593.7 128 576 128z"/>
                                </svg>
                                Título
                            </label>

                            <div class="add-menu__input-wrap">
                                <input
                                    id="add-input-title"
                                    class="add-menu__input"
                                    name="new-title"
                                    type="text"
                                    placeholder="Digite o título do artigo…"
                                    required
                                    autocomplete="off"
                                    maxlength="30">
                            </div>

                            <span id="title-error"
                            class="add-menu__error"
                            aria-live="polite"></span>

                            <span id="title-counter"
                            class="add-menu__counter">0 / 30</span>
                        </div>

                        <div class="add-menu__field">
                            <label class="add-menu__label"
                            for="add-input-content">
                                <svg class="add-menu__label-icon"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 640">
                                    <path d="M32 176C32 134.5 63.6 100.4 104 96.4L104 96L384 96C437 96 480 139 480 192L480 368L304 368C264.2 368 232 400.2 232 440L232 500C232 524.3 212.3 544 188 544C163.7 544 144 524.3 144 500L144 272L80 272C53.5 272 32 250.5 32 224L32 176zM268.8 544C275.9 530.9 280 515.9 280 500L280 440C280 426.7 290.7 416 304 416L552 416C565.3 416 576 426.7 576 440L576 464C576 508.2 540.2 544 496 544L268.8 544zM112 144C94.3 144 80 158.3 80 176L80 224L144 224L144 176C144 158.3 129.7 144 112 144z"/>
                                </svg>
                                Conteúdo
                            </label>

                            <div class="add-menu__input-wrap">
                                <textarea
                                    id="add-input-content"
                                    class="add-menu__input add-menu__textarea"
                                    name="new-content"
                                    placeholder="Escreva o conteúdo do artigo…"
                                    rows="5"
                                    maxlength="2500"></textarea>
                            </div>
                            
                            <span id="content-counter"
                            class="add-menu__counter">0 / 2500</span>
                        </div>

                        <div class="add-menu__actions">
                            <button id="add-menu-cancel-btn"
                            class="add-menu__cancel-btn"
                            type="button">Cancelar</button>
                            <button id="add-submit-btn"
                            class="add-menu__submit-btn"
                            type="submit">
                                <span class="add-menu__submit-text">Publicar artigo</span>
                                
                                <span class="add-menu__submit-spinner"
                                aria-hidden="true"></span>
                            </button>
                        </div>

                    </form>
                </div>

                <div class="home__text u-primary-white-bg">
                    <h1 class="home__title">Dê asas às<br>
                                            suas ideias</h1>

                    <p class="home__subtitle">Aqui, você pode criar artigos variados<br>
                                                para compartilhar com seus amigos.<br>
                                                Comece usando a criatividade na seção<br>
                                                abaixo e se prepare para ampliar a rede.</p>
                </div>

                <img src="{{ url_for('static', filename='imgs/home_img.svg') }}" 
                class="home__img"
                alt="Um papel de texto entre um homem e uma mulher segurando seus celulares.">
            </section>

            <section id="articles"
            class="pg__articles c-section u-primary-white-bg">
                <header class="articles__header">
                    <h2 class="articles__title">Seus Artigos</h2>

                    <div class="articles__btns">
                        <button id="add-btn"
                        class="articles__add-btn u-transition-02s-ease">
                            <svg class="articles__add-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                                <path class="articles__add-path u-transition-02s-ease"
                                fill="#4040C0" 
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                            </svg>

                            <p class="articles__add-title">Adicionar<br>artigo</p>
                        </button>

                        <button id="filter-btn"
                        class="articles__filter-btn u-transition-02s-ease">
                            <svg class="articles__filter-icon"
                            xmlns="http://www.w3.org/2000/svg" 
                            viewBox="0 0 640 640">
                                <path class="articles__filter-path u-transition-02s-ease"
                                fill="#4040C0"
                                d="M96 128C83.1 128 71.4 135.8 66.4 147.8C61.4 159.8 64.2 173.5 73.4 182.6L256 365.3L256 480C256 488.5 259.4 496.6 265.4 502.6L329.4 566.6C338.6 575.8 352.3 578.5 364.3 573.5C376.3 568.5 384 556.9 384 544L384 365.3L566.6 182.7C575.8 173.5 578.5 159.8 573.5 147.8C568.5 135.8 556.9 128 544 128L96 128z"/>
                            </svg>

                            <p class="articles__filter-title">Filtrar<br>artigos</p>
                        </button>
                    </div>
                </header>
                
                <ul id="mini-grid"
                class="articles__mini-grid"></ul>
                
                <footer class="signature">
                    Criado por <a class="signature__link u-transition-02s-ease"
                    href="https://github.com/AndreLucas23"
                    target="_blank" 
                    rel="noopener noreferrer">André Lucas</a>
                </footer>
            </section>

            <section id="social"
            class="pg__social c-section u-main-bg-1">

            </section>
        </div>
    </main>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
